<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink='/home' routerLinkActive="router-link-active" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/sepet'>sepetim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/profile'>profilim</a>
          </li>
          <li class="nav-item">
            <a (click)="logoutButton()" class="nav-link">logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  
  <header  style=" background-color:darkred;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between ">
        <a routerLink='/admin' class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img style="max-width: 75px;"
            src="https://cdn03.ciceksepeti.com/cicek/kcm95109428-1/XL/kantin-oda-kapi-levhasi-pleksi-kcm95109428-1-9a3b9abf8d6b4d80827719f2ad9f1efc.jpg"
            alt="">
        </a>
        <div style="width: 350px;">
          <form class=" col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">

            <div class="input-group-text">
              <input type="search" class="form-control " placeholder="Aradığınız ürünü yazınız" aria-label="Search">
              <i style="margin-left: 10px;" class="bi bi-search"></i>
            </div>
          </form>
        </div>
        <a routerLink='/account'>
        <div class="d-flex " style="background-color:aliceblue; border-radius: 10px;">

          <button type="button" class="btn btn-outline-dark ms-auto"><svg xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
            </svg> Profilime Git</button>
        </div>
      </a>
      <a  routerLink='/cart'>
        <div class="d-flex" style="background-color:aliceblue; border-radius: 10px;">

          <button type="button" class="btn btn-outline-dark ms-auto"><svg xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" fill="currentColor" class="bi bi-cart-dash-fill" viewBox="0 0 16 16">
              <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z" />
            </svg> Sepetim</button>
        </div>
      </a>
      </div>
    </div>
  </header>
