<app-navbar></app-navbar>

<div class="flex-container space-between">
    <div class="col card">
        <div class="row">
            <div class="col-md-3">
                <div class="img-placeholder">
                    <img src="https://cdn2.psychologytoday.com/assets/styles/manual_crop_1_91_1_1528x800/public/field_blog_entry_images/2018-09/shutterstock_648907024.jpg?itok=7lrLYx-B"
                        width="250px" height="150px">
                </div>
            </div>
            <div class="col-md-5">
                <div>
                    <h3>{{user.firstName}} {{user.lastName}}</h3>
                    <p><i class="fa-solid fa-user"></i> {{user.email}}</p>
                    <button routerLink="">çıkış yap</button>
                </div>
            </div>
            <div class="col-md-4">
                <h5>cüzdanım</h5>
                <h1>{{user.walletResponse.balance}} TL</h1>
            </div>
        </div>
    </div> <!--  profil fotosu cıkıs yap ve hesabım kısmı -->
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div id="list-example" class="list-group">
                    <a routerLinkActive="active" routerLink="user"
                        class="list-group-item list-group-item-action">Müşteri
                        Paneli</a>
                    <a routerLinkActive="active" routerLink="product"
                        class="list-group-item list-group-item-action">Ürün
                        Paneli </a>
                    <a routerLinkActive="active" routerLink="order"
                        class="list-group-item list-group-item-action">Sipariş
                        Paneli</a>
                </div>
            </div>
            <div class="col-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div> <!-- panel kontrol sayfası -->

    <hr style="margin-top: 20px;">
    <div class="container">
        <h3>geçmiş siparişlerim</h3>
        <hr>
        <div class="order-card">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div *ngFor="let buyslist of buys |slice : 0:50  ">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#' + buyslist.buyId" aria-expanded="false">

                                <div class="col-md-4">
                                    <div><strong>{{buyslist.localDateTime}}</strong> </div>
                                </div>
                                <div class="col-md-4">
                                    <p>Listenin toplam tutarı:</p>
                                </div>
                                <div class="col-md-4">
                                    <p><strong>{{buyslist.total}}</strong></p>

                                </div>
                            </button>
                        </h2>
                        <div id={{buyslist.buyId}} class="accordion-collapse collapse ">
                            <div class="accordion-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">ürün adı</th>
                                            <th scope="col">ürün fiyatı</th>
                                        </tr>
                                    </thead>
                                    <tbody
                                        *ngFor="let buyslistprocult of buyslist.productResponseList |slice : 0:50 let i = index ">
                                        <tr>
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{buyslistprocult.productName}}</td>
                                            <td>{{buyslistprocult.price}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!--  geçmiş siparişlerim -->