<div *ngFor="let userlist of users |slice : 0:25  ">
    <div class="accordion-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Müşteri Adı</th>
                    <th scope="col">Müşteri Soyadı</th>
                    <th scope="col">Müşteri Maili</th>
                </tr>
            </thead>
            <tbody *ngFor="let userList of userlist.userResponse |slice : 0:25 let i = index ">
                <!-- index her forda artacak -->
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{userList.firstName}}</td>
                    <td>{{userList.lastName}}</td>
                    <td>{{userList.email}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<p>Kullanıcı Paneli gösteriliyor</p>
